img {
  width: 400px;
  height: 333.33px;
}
body {
  font-family: Georgia, serif;
  text-align: center;
  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
}

#center {
  text-align: center;
}

title {
  font-family: "EB Garamond";
  font-size: 22px;
}

h1 {
  font-family: "Calisto MT", "Bookman Old Style", "Bookman", "Goudy Old Style",
    Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}



